--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
torch-fidelity==0.3.0
scipy
importlib_resources
tqdm
omegaconf
einops
numpy==1.26.4
soundfile
librosa==0.10.2
pandas
torchlibrosa
transformers==4.45.0
ftfy
pytorch-lightning==2.5.1
torchmetrics==1.6.1
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers

